// .test{
//     background: red;
// }
.mainBody{
 max-width: 560px;
 margin: 0 auto;
 margin-top: 50px;
//  border: 1px solid black;
}
.publishedDate{
    color: #a0a0a0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.25px;
    margin-top: 50px;
}
.headerImage{
    width: 100%;
}
.typeImage{
    height: 45px;
}
.followArtists{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 60px;
    &__icons{
        // height: 30px;
        margin-top: 35px;
        img{
            height: 30px;
            margin-right: 60px;
        }
    }
}

.socialShare{
    text-transform: uppercase;
    font-weight: bold;
    // margin-top: 50px;
    margin-bottom: 55px;
    // border: 1px solid black;
    outline: none;
    &__icons{
        // height: 30px;
        margin-top: 15px;
        display: flex;
        outline: none;
        
        // border: 1px solid black;
        img{
            height: 25px;
            margin-right: 40px;
            cursor: pointer;
        }
    }
    &__icons:focus{
        outline: none;
    }
}

.backHome{
    margin-top: 60px;
     
    a{
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
}

iframe{
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px; 
    // margin: 0 auto;

}