.container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
    ul {
        display: inline-block;
       
        margin: 0 auto;
        li{
            list-style: none;
            display: inline-block;
            
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        }
        li:not(:last-child){
            margin-right: 3rem;
        }
        li:hover{
            color: #26f7c5;
            border-bottom: 2px solid #26f7c5;
        }
    }
}
.activeNavItem{
    border-bottom: 2px solid black;
}

@media screen and (max-width: 750px){
    .container{
        display: flex;
        ul{
            width: 400px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: end;
            li{
                justify-self: center;
            }
            li:not(:last-child){
                margin-right: 0;
            }
            
        }
    }
}